<button (click)="edit()" *ngIf="!editing">Edit</button>
<div *ngIf="editing">
  <button (click)="cancel()">Cancel</button>
  <button (click)="save()">Save</button>
</div>

<div class="fields">
  <fieldset>
    <legend>Start Time</legend>
    <app-editable-time [time]="hoursService.startTime" [editing]="editing" #startTime></app-editable-time>
  </fieldset>

  <fieldset>
    <legend>End Time</legend>
    <app-editable-time [time]="hoursService.endTime" [editing]="editing" #endTime></app-editable-time>
  </fieldset>
</div>
